.blocks {
    display: flex;
}
.dialogs {
    flex: 1 0 calc(40% - 10px);
    width: calc(40% - 10px);
    padding: 0 5px;
    border-right: 1px solid #c7c7c7;
}
.dialogs__item {
    display: block;
    font-size: 14px;
}
.dialogs__item__active {
    font-weight: bold;
}

.dialogs__item a {
    display: flex;
    align-items: center;
}
.dialogs__item img {
    width: 50px;
}

.messages {
    flex: 1 0 calc(60% - 10px);
    width: calc(60% - 10px);
    padding: 0 5px;
}
.messages__item {
    display: block;
    font-size: 14px;
}